.rightAlignedText {
  text-align: right;
  margin: 5px;
  padding: 5px;
}
.navbar2color {
  background-color: #edb0f7;
}
.navbar1color {
  background-color: #610482;
}

.removeunderline {
  text-decoration: none;
}

.headerstyle {
  background-color: #610482;
  color: white;
  padding-left: 20px;
}
